/*!
 * Start Bootstrap - Full Width Pics (https://startbootstrap.com/template-overviews/full-width-pics)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-width-pics/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 30%;
}

@media (max-width: 992px) {
  .bg-image-full {
    height: 10%;
  }
}

@media (max-width: 768px) {
  .bg-image-full {
    height: 10%;
  }
}

@media (max-width: 576px) {

  .bg-image-full {
    height: 10%;
  }
}


