



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  background-color: #f2f1f0;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #216566;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #38bfc1;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

select {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

select:focus::-webkit-input-placeholder { color:transparent; }
select:focus:-moz-placeholder { color:transparent; }
select:focus::-moz-placeholder { color:transparent; }
select:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

select::-webkit-input-placeholder { color: #999999; }
select:-moz-placeholder { color: #999999; }
select::-moz-placeholder { color: #999999; }
select:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

table{
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #49525b;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #7a7979;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #7a7979;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #7a7979;
}

.txt4 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #7a7979;
}

.txtH2 {
  font-family: Poppins-Regular;
  font-size: 20px;
  color: #7a7979;
}

.txterror {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #ff0000;
  text-align: center;
}
.error p {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #ff0000;
  text-align: left;
}

.txtsuccess {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #0ba306;
}


.logo {
  margin-top: 10px;
  display:inherit;
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  padding: .25rem .75rem;
}

/*=================================================================
  Navigation
==================================================================*/



/*//////////////////////////////////////////////////////////////////
[ login ]*/

/*.bg-blue {
  background-color: #c9d7e2 !important;
}

.navbar{
  height: 70px;
}




.navbar .logo {
  padding: 0;
  height: auto;
  margin-top: 0;
}

.navbar .logo img {
  height: auto;
  width: auto;
}
*/

.navbar{
  background-color: #f2f1f0;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../images/slider/mapa.png");
}

.wrap-login100 {
  width: 80%;
  background: rgba(181, 181, 181, 0.9);
  border-radius: 10px;
  overflow: hidden;
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  margin: 0px;
}

.wrap-logincomplete {
  width: 100%;
  background: rgba(181, 181, 181, 0.9);
  border-radius: 10px;
  overflow: hidden;
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  margin: 0px;
}

.wrap-modal100 {
  width: 100%;
  max-width: 100vh;
  max-height: 90vh;
  background: #f2f1f0;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin: auto;
}
.wrap-modal50  {
  width: 50%;
  height: 80%;
  max-width: 500px;
  min-width: 300px;
  background: #f2f1f0;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin: auto;
}

.wrap-modalmensaje  {
  width: 50%;
  height: 50%;
  max-width: 500px;
  min-width: 300px;
  background: #f2f1f0;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin: auto;
}

.wrap-modal80  {
  width: 80%;
  height: 80%;
  max-width: 500px;
  background: #f2f1f0;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin: auto;
}

.modal-dialog_img{
  max-width: 400px; 
}

.wrap-modal50 img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.wrap-modal80 img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.wrap-modalmensaje img {
  width: 100%;
  height: auto;
  align-content: center;
}

.wrap-modal100 img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  margin: auto;
}

.modal100-form {
  width: auto;
  margin: auto;
}

.div100-form {
  width: 100%;
  margin: auto;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 25px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.wrap-input50 {
  position: relative;
  width: 50%;
  z-index: 1;
  margin-bottom: 10px;
}
.wrap-input80 {
  position: relative;
  width: 80%;
  z-index: 1;
  margin: auto;
  margin-bottom: 10px;
}
.wrap-input60 {
  position: relative;
  width: 60%;
  z-index: 1;
  margin-bottom: 10px;
}
.wrap-input40 {
  position: relative;
  width: 40%;
  z-index: 1;
  margin-bottom: 10px;
}
.wrap-input30 {
  position: relative;
  width: 30%;
  z-index: 1;
  margin-bottom: 10px;
}
.wrap-input20 {
  position: relative;
  width: 20%;
  z-index: 1;
  margin-bottom: 10px;
}

.wrap-input40-login {
  position: relative;
  width: 40%;
  z-index: 1;
  margin: auto;
  margin-bottom: 10px;
}

.wrap-input30 {
  position: relative;
  width: 30%;
  z-index: 1;
  margin: auto;
  margin-bottom: 10px;
}

.input {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;

  display: inline;
  background: #7a7979;
  height: 45px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  position: initial;
}

.textarea {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;

  display: inline;
  background: #7a7979;
  height: auto;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  position: initial;

}

.form-control {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #4c4c4c;
  background: #c9c9c9;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  position: initial;
}

.input100 {
  width: 100%;
}
.input80 {
  width: 80%;
}
.input50 {
  width: 50%;
}

.input25 {
  width: 25%;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 203, 204, 0.8);
}
.focus-input50 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 203, 204, 0.8);
}

.focus-input25 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 203, 204, 0.8);
}

.input:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.textarea:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input:disabled, .input[readonly] {
  background-color: #7d5959;
  color: #ffffff;
  opacity: 1;
}


.input:focus + .focus-input50{
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input:focus + .focus-input25{
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #b7b7b7;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.symbol-input50 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.symbol-input25 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input100 + .symbol-input100 {
  color: #57cbcc;
  padding-left: 28px;
}
.textarea:focus + .focus-input100 + .symbol-input100 {
  color: #57cbcc;
  padding-left: 28px;
}
.input:focus + .focus-input50 + .symbol-input50 {
  color: #57cbcc;
  padding-left: 28px;
}
.input:focus + .focus-input25 + .symbol-input25 {
  color: #57cbcc;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.container-login100-form-input {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-login80-form-btn {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.container-login50-form-btn {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin:auto;
}

.container-login65-form-btn {
  width: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin:auto;
}

.container-50-form-btn {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin:0px;
}

.container-login25-form-btn {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin:auto;
}



.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 45px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.login100-form-btn:hover {
  background: #333333;
}

.login50-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 50%;
  height: 45px;
  border-radius: 25px;
  background: #57cbcc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.registrar50-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 50%;
  height: 45px;
  border-radius: 25px;
  background: #498db2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.login20-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 20%;
  height: 45px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.login10-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 10%;
  height: 45px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.login50-form-btn:hover {
  background: #333333;
}

.registrar50-form-btn:hover {
  background: #333333;
}

.login20-form-btn:hover {
  background: #333333;
}

.login10-form-btn:hover {
  background: #333333;
}

.login50-form-btn:disabled {
  opacity: .65;
  background: #95ba8f;
  cursor: default;
}

.registrar50-form-btn:disabled {
  opacity: .65;
  background: #95ba8f;
  cursor: default;
}

.login20-form-btn:disabled {
  opacity: .65;
  background: #95ba8f;
  cursor: default;
}

.login10-form-btn:disabled {
  opacity: .65;
  background: #95ba8f;
  cursor: default;
}

.login50-form-btn-cancel {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;

  width: 50%;
  height: 45px;
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  background: #cca880;
  cursor: pointer;
}

.login20-form-btn-cancel {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;

  width: 20%;
  height: 45px;
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  background: #cca880;
  cursor: pointer;
}

.login50-form-btn-cancel:hover {
  background: #333333;
}

.login50-form-btn-cancel:disabled {
  opacity: .65;
  background: #d9a878;
  cursor: default;
}

.login20-form-btn-cancel:hover {
  background: #333333;
}

.login50-form-btn-search {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 50%;
  height: 50px;
  border-radius: 25px;
  background: #db0404;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login50-form-btn-search:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 20px;
  }

  .wrap-logincomplete{
    padding: 20px;
  }

  .wrap-input80 {
    width: 100%;
  }
  .wrap-input60 {
    width: 100%;
  }
  .wrap-input40 {
    width: 100%;
  }
  .wrap-input40-login {
    width: 100%;
  }

  .wrap-input50{
     width: 100%;
  }
  .container-login25-form-btn{
    width: 100%;
  }

  .login100-pic {
    width: 35%;
  }
  table {
    font-size: 14px;
  }
  .table td, .table th{
    padding: .5rem;
  }

  /*.logo{
    right: 0;
    left: auto;
  }*/
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 20px;
    width: 100%;
  }

  .wrap-logincomplete {
    padding: 20px;
    width: 100%;
  }

  .modal-dialog_img{
    max-width: 350px; 

  }




  .wrap-modal50 
  {
    max-height: 300px;
    max-width: 300px;
  }

  .modalmensaje
  {
    max-height: 300px;
    max-width: 300px;
  }

  .txt3 {
    font-size: 14px;
  }
  .txt4 {
    font-size: 16px;
  }

  .login100-form-title {
    font-size: 20px;
    padding-bottom: 0px;
  }

  .input{
    height: 40px;
  }

  .btn{
    height: 40px;
  }

  .div100-form {
    margin: 0px;
  }
  .p-t-50
  {
    padding: 30px;
  }

  .txtH2 {
    font-size: 16px;
  }
  .txterror{
    font-size: 14px;
  }

  table{
    font-size: 13px;
  }

  .table td, .table th{
    padding: .30rem;
  }
  .btn{
    padding: 0px;
  }

  a {
    font-size: 13px;
    line-height: .5;
  }

  .wrap-input80 {
    width: 100%;
  }
  .wrap-input60 {
    width: 100%;
  }
  .wrap-input40 {
    width: 100%;
  }
  .wrap-input20 {
    width: 100%;
  }
  .wrap-input30 {
    width: 100%;
  }
  .wrap-input40-login {
    width: 100%;
  }
  .wrap-input50{
     width: 100%;
  }
  .wrap-input30{
     width: 100%;
  }
  .container-login25-form-btn{
    width: 100%;
  }
  .container-login50-form-btn{
    width: 100%;
  }
  .container-50-form-btn{
    width: 100%;
  }

  .login50-form-btn {
    font-size: 13px;
  }
  .registrar50-form-btn {
    font-size: 13px;
  }
  .login20-form-btn {
    font-size: 13px;
  }


  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }

  .input50 {
    width: 100%;
  }
}

@media (max-width: 576px) {

  .wrap-login100 {
    padding: 10px;
    width: 100%;
  }

  .wrap-logincomplete {
    padding: 10px;
    width: 100%;
  }

    .wrap-modal50 
    {
      max-height: 300px;
      max-width: 300px;
    }

    .wrap-modalmensaje
    {
      max-height: 300px;
      max-width: 300px;
    }

  .txt3 {
    font-size: 12px;
  }
  .txt4 {
    font-size: 14px;
  }
  .login100-form-title {
    font-size: 18px;
    padding-bottom: 0px;
  }

  .input{
    height: 35px;
  }

  .btn{
    height: 30px;
  }

  .div100-form {
    margin: 0px;
  }
  .p-t-50
  {
    padding: 20px;
  }
  .txtH2 {
    font-size: 14px;
  }
  .txterror{
    font-size: 12px;
  }
  table{
    font-size: 11px;
  }
  .table td, .table th{
    padding: .20rem;
  }
  /*.table{
    width: auto;
    max-width: 550px;
  }*/
  .btn{
    padding: 0px;
  }

  a {
    font-size: 11px;
    line-height: .5;
  }
  .wrap-input80 {
    width: 100%;
  }
  .wrap-input60 {
    width: 100%;
  }
  .wrap-input40 {
    width: 100%;
  }
  .wrap-input20 {
    width: 100%;
  }
  .wrap-input40-login {
    width: 100%;
  }
  .wrap-input50{
     width: 100%;
  }
  .wrap-input30{
     width: 100%;
  }
  .wrap-input30 {
    width: 100%;
  }
  .container-login25-form-btn{
    width: 100%;
  }
  .container-login50-form-btn{
    width: 100%;
  }
  .container-50-form-btn{
    width: 100%;
  }
  .login50-form-btn {
    font-size: 11px;
  }
  .registrar50-form-btn {
    font-size: 11px;
  }
  .login20-form-btn {
    font-size: 11px;
  }
  .input50 {
    width: 100%;
  }
  .nav-link {
    padding: 0.7rem 1rem;
    font-size: 13px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
  margin-bottom: 10px;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.modal{
  z-index: 2000;

}

.modal-dialog{
  height: 100%;
  width: 100%;
}


#pagination{
    margin: 40 40 0;
}

ul.pagination li a 
{ 
    border:solid 1px; 
    border-radius:3px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:6px 9px 6px 9px;
}
ul.pagination li 
{
    padding-bottom:1px;
}
ul.pagination li a:hover,
ul.pagination li a.current
{ 
    color:#FFFFFF; 
    box-shadow:0px 1px #EDEDED;
    -moz-box-shadow:0px 1px #EDEDED;
    -webkit-box-shadow:0px 1px #EDEDED; 
}
ul.pagination 
{ 
    margin:4px 0;
    padding:0px; 
    height:100%;
    overflow:hidden; 
    font:12px 'Tahoma';
    list-style-type:none; 
}
ul.pagination li 
{ 
    float:left;
    margin:0px;
    padding:0px; 
    margin-left:5px;
}
ul.pagination li a 
{ 
    color:black; 
    display:block; 
    text-decoration:none;
    padding:7px 10px 7px 10px; 
}
ul.pagination li a img 
{
    border:none;
}
ul.pagination li a
{ 
    color:#3d3a3f;
    border-color:#cccdce; 
    background:#cccdce; 
}
ul.pagination li a:hover
{ 
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA; 
    background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #9fc1dd, #212529);
  background: -o-linear-gradient(-135deg, #9fc1dd, #212529);
  background: -moz-linear-gradient(-135deg, #9fc1dd, #212529);
  background: linear-gradient(-135deg, #9fc1dd, #212529);
}

ul.pagination li.active
{
  color:#FFFFFF; 
  display:block; 
  text-decoration:none;
  padding:7px 10px 7px 10px; 
  text-shadow:0px 1px #388DBE;
  border-color:#3390CA; 
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #9fc1dd, #212529);
  background: -o-linear-gradient(-135deg, #9fc1dd, #212529);
  background: -moz-linear-gradient(-135deg, #9fc1dd, #212529);
  background: linear-gradient(-135deg, #9fc1dd, #212529);
}
.google-map #map-canvas {
  height: 600px;
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.star-rating {
  line-height:32px;
  font-size:1.5em;
}

.star-rating .fa-star{color: yellow;}
/*# sourceMappingURL=maps/style.css.map */

.contentMap{
    max-width:200px;
    overflow:auto;
    font-size: 14px;
    color: #38bfc1;
    font-weight: bold;
  }

.title {
  padding-bottom: 40px;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}

.title h2 span {
  color: #5aacad;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.border {
  border-top: 2px solid rgba(94, 100, 104, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}

.border:before {
  background-color: #fff;
  content: '';
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: #55b9ba;
}

.thRojo
{
  color:#db1515;
}

.thNormal
{
  color:#5e6468;
}

.thVerde
{
  color:#038F26;
}



